.row(style="margin-bottom: 25px;")
    .col-xs-3.col-sm-3
        b UID
        div {{::deviceInfo.uid}}
    .col-xs-3.col-sm-3
        b Connected
        div {{::deviceInfo.connectedUid}}
    .col-xs-3.col-sm-3
        b Position
        div {{::deviceInfo.position}}
    .col-xs-3.col-sm-3
        b FW Version
        div {{::deviceInfo.firmwareVersion}}
    //.col-xs-4.col-sm-2
    //    b Timeout?
    //    div Todo