.row(style="margin-bottom: 25px;")
    .col-xs-3.col-sm-3
        b UID
        div {{::deviceInfo.uid}}
    .col-xs-3.col-sm-3
        b Connected
        div {{::deviceInfo.connectedUid}}
    .col-xs-3.col-sm-3
        b Position
        div {{::deviceInfo.uid}}
    .col-xs-3.col-sm-3
        b FW Version
        div {{::deviceInfo.firmwareVersion}}
    //.col-xs-4.col-sm-2
    //    b Timeout?
    //    div Todo

.row(ng-if="deviceInfo.deviceSpec==null && !extendedView" style="margin-top: 10px;")
    p.col-xs-12 There is no Simple View for this Device.

.row(ng-if="deviceInfo.deviceSpec!=null" style="margin-top: 10px;")
    button(ng-click="btnShowSimpleView()").col-xs-12.btn.btn-default.btn-fixed-size {{btnShowSimpleViewText}}
    div(ng-hide="!showSimpleView")
        div(ng-repeat="val in deviceInfo.deviceSpec['values']")
            div(ng-controller="valueCtrl")
                include ../device/value-module

.row(ng-if="extendedView" style="margin-top: 10px;")
    button(ng-if="btnLoadExtendedView" ng-click="btnLoadExtendedView()" ).col-xs-12.btn.btn-default.btn-fixed-size Load Extended View

    div(ng-if="!btnLoadExtendedView")
        button(ng-click="btnShowExtendedView()" style="margin-bottom: 10px;").col-xs-12.btn.btn-default.btn-fixed-size {{btnShowExtendedViewText}}
        div(ng-hide="!showExtendedView")
            //Add Extende Views here via 'include' from jade/pug parser!
            //Barometer Extended View
            div(ng-if="extendedView.viewName == 'brickletBarometerExtendedView'")
                include ../factory/extendedView/brickletBarometerExtendedView