//h3 {{::deviceInfo.deviceDisplayName}}({{::uid}})
table.table.table-responsive
    tr
        td
            b UID: {{::deviceInfo.uid}}
        //TODO Hyperlink to the connected!
        td Connected to: {{::deviceInfo.connectedUid}}
        td Position: {{::deviceInfo.position}}
        td FW Version: {{::deviceInfo.firmwareVersion}}
hr


div(ng-if="deviceInfo.deviceSpec==null && !extendedView")
    p No Device Specs found!

div(ng-if="deviceInfo.deviceSpec!=null")
    button(ng-click="btnShowSimpleView()").btn.btn-default {{btnShowSimpleViewText}}
    div(ng-hide="!showSimpleView")
        div(ng-repeat="val in deviceInfo.deviceSpec['values']")
            div(ng-controller="valueCtrl")
                include ../device/value-module
br
div(ng-if="extendedView")
    button(ng-if="btnLoadExtendedView" ng-click="btnLoadExtendedView()").btn.btn-default Load Extended View
    div(ng-if="!btnLoadExtendedView")
        button(ng-click="btnShowExtendedView()").btn.btn-default {{btnShowExtendedViewText}}
        div(ng-hide="!showExtendedView")
            ng-include(src="extendedView.viewPath")



    //button(ng-click='test()') Timer - Start & Stop