h4 {{::val['name']}}
//p val = {{val}}
//p second index = {{i}}
table.table-bordered.table-responsive
    tr(ng-if="timer.currentError")
        td
            b.text-danger.bg-danger Error: {{timer.currentError}}
    //Only one value
    tr(ng-if="!(val['subvalues'] | isArray)")
        div
        td(ng-if="((val['unitAddition'][2] | float) | isNumber)") {{(timer.currentValue / val['unitAddition'][2]) | number:2}} <i>{{val['unitAddition'][1]}}</i>
        td(ng-if="!((val['unitAddition'][2] | float) | isNumber)") {{timer.currentValue}} <i> {{val['unit']}}</i>


    //Subvalue
    tr(ng-if="(val['subvalues'] | isArray)" ng-repeat="subName in val['subvalues']" ng-init="i = $index")
        td
            b {{subName}}:

        td(ng-if="((val['unitAddition'][i][2] | float) | isNumber)") {{(timer.currentValue[i] / val['unitAddition'][i][2]) | number:2}} <i>{{val['unitAddition'][i][1]}}</i>
        td(ng-if="!((val['unitAddition'][i][2] | float) | isNumber)") {{timer.currentValue[i]}} <i> {{val['unit'][i]}}</i>
        //
        //td(ng-if="(val['unit'] && !(val['unit'] | isArray))") {{timer.currentValue}}
        //td(ng-if="(val['unit'] && !(val['unit'] | isArray))")
        //    i {{val['unit']}}
        //
        //td(ng-if="(val['unit'] && (val['unit'] | isArray))") {{timer.currentValue}}
        //td(ng-if="(val['unit'] && (val['unit'] | isArray))")
        //    i {{val['unit'][i]}}

        //td(ng-if="(val['unit'] && !(val['unit'] | isArray))") {{timer.currentValue}}
        //td(ng-if="(val['unit'] && !(val['unit'] | isArray))")
        //    i {{val['unit']}}
        //
        //td(ng-if="(val['unit'] && (val['unit'] | isArray))") {{timer.currentValue}}
        //td(ng-if="(val['unit'] && (val['unit'] | isArray))")
        //    i {{val['unit'][i]}}
