div(ng-controller="mainCtrl")

    //Navbar Src: http://bootsnipp.com/snippets/featured/responsive-navigation-menu
    div.container-fluid
        div.row
            div.col-sm-3.col-md-3.nav-side-menu
                .brand Web Brick Viewer
                i#menu-content-btn(data-toggle='collapse', data-target='#menu-content').glyphicon.glyphicon-menu-hamburger
                .menu-list
                    ul#menu-content.menu-content.collapse.out
                        li.active(ng-click="changeNavigation('connectToStack')" id='connectToStack-Menu') Connect

                        //Generated after connect
                        li(ng-repeat='(uid, deviceInfo) in deviceList' ng-click="changeNavigation(uid)" id='{{uid}}-Menu') {{::deviceInfo.deviceDisplayName}} ({{::uid}})

                        //RED Template--------------------------------------------------------
                        //li(data-toggle='collapse', data-target='#redbrickMenu')
                        //    | REDBrick(UID)
                        //    span.glyphicon.glyphicon-plus.icon-sidenavbar-right
                        //ul#redbrickMenu.sub-menu.collapse
                        //    li.active
                        //        | General
                        //    li
                        //        | Settings
                        //Normal Template------------------------------------------------------
                        //li(data-toggle='collapse', data-target='#newWorld') NewWorld

            div.col-sm-9.col-md-9.main-content
                div#connectToStack.collapse.in
                    input(ng-readonly="btnConnectText != 'Connect'" type='text' ng-model='ipAddress').form-control
                    input(ng-readonly="btnConnectText != 'Connect'" type='number' max='65535' min="1" ng-model='websocketPort').form-control
                    button(ng-click='btnConnectFunction()' ng-disabled='btnConnectDisabled').btn.btn-default {{btnConnectText}}

                div(ng-repeat='(uid, deviceInfo) in deviceList' id='{{uid}}').collapse
                    div(ng-controller="deviceCtrl")
                        include ../device/device-module