div(ng-controller="mainCtrl")
    h3 {{::name}}

    header.top(role='header')
        label Ip-Address
        input(type='text' ng-model='ipAddress')
        br
        label Websocket Port
        //TODO fix max and min
        input(type='number' max='65535' min="5" ng-model='websocketPort')
        br
        //label Secret
        //input(type='password')
        //br
        br

        button(ng-click='btnConnectFunction()' ng-disabled='btnConnectDisabled') {{btnConnectText}}
        br
        button(ng-click='test()') DEBUG CHECK DEVICE
        hr
        hr

    .container
        button.navbar-toggle(ng-if="!(deviceList | isEmpty)", data-toggle='collapse', data-target='.navbar-collapse')
            b.navbar-brand.pull-left Device List
            span.glyphicon.glyphicon-align-justify


        nav.navbar-collapse.collapse
            ul.nav.nav-tabs
                li(ng-repeat='(uid, deviceInfo) in deviceList')
                    a(data-toggle='tab', ng-href='#'+'{{uid}}') {{::uid}}

        .tab-content
            div(ng-repeat='(uid, deviceInfo) in deviceList' id='{{uid}}').tab-pane.fade
                div(ng-controller="deviceCtrl")
                    include ../device/device-module



