doctype html
html
    head
        title Web Brick Viewer

    body
        block content

        //Bootstrap
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/nav-sidebar.css')

        script(src='js/jquery-2.2.4.min.js')
        script(src='js/jquery.flot.min.js')
        script(src='js/jquery.flot.resize.min.js')
        script(src='js/jquery.flot.time.min.js')


        script(src='js/bootstrap.min.js')


        script(src='js/Tinkerforge.js')
        script(src='js/angular.min.js')

        //Views/Controller
        script(src='angular/main/main-module.js')
        script(src='angular/device/device-module.js')
        script(src='angular/device/value-module.js')
        //Angular App
        script(src='angular/app.js')
        //Factory/Utils
        script(src='angular/factory/tinkerforge.js')
        script(src='angular/factory/utils.js')
        script(src='angular/factory/deviceSpecs.js')
        script(src='angular/factory/timer.js')
        script(src='angular/factory/graph.js')
        //SpecialDevices
        script(src='angular/factory/specialDevices/specialDeviceInjector.js')
        script(src='angular/factory/specialDevices/specialDevices.js')
        //Extended Views
        script(src='angular/factory/extendedView/extendedView.js')
        script(src='angular/factory/extendedView/brickletBarometerExtended.js')
        //Extended View for RED
        script(src='angular/factory/extendedView/red/brickREDExtended.js')


        //Resources
        //FIXME deviceSpecs.json:2 Uncaught SyntaxError: Unexpected token :
        script(src='js/deviceSpecs.json')

        //Responsive Desig
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
